<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout-mnp.html -->
{% extends 'layout-mnp.html' %}
<!-- 
  In /views/layout-mnp.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  My NHS Pension
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full"> 

<!-- Start of content -->
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <p>You can find out more about managing your NHS Pension by clicking on the titles.</p>
    <p>If you would like further information, you can get in touch with our Customer Contact Centre using the details provided.</p>
    <ul class="nhsuk-grid-row nhsuk-card-group">
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable mnp-card--clickable-default">
          <img class="nhsuk-card__img mnp-card__img-default" src="/images/portal-graphics-member-hub.jpg" alt="">
          <div class="nhsuk-card__content mnp-card__content-default">
            <h2 class="nhsuk-card__heading nhsuk-heading-m mnp-card__heading-default">
              <a class="nhsuk-card__link mnp-card__link-default" href="#">NHS pensions member hub</a>
            </h2>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable mnp-card--clickable-default">
          <img class="nhsuk-card__img mnp-card__img-default" src="/images/portal-graphics-pensioner-hub.jpg" alt="">
          <div class="nhsuk-card__content mnp-card__content-default">
            <h2 class="nhsuk-card__heading nhsuk-heading-m mnp-card__heading-default">
              <a class="nhsuk-card__link mnp-card__link-default" href="#">NHS pensioners pensioner hub</a>
            </h2>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable mnp-card--clickable-default">
          <img class="nhsuk-card__img mnp-card__img-default" src="/images/portal-graphics-change-of-circumstances.jpg" alt="">
          <div class="nhsuk-card__content mnp-card__content-default">
            <h2 class="nhsuk-card__heading nhsuk-heading-m mnp-card__heading-default">
              <a class="nhsuk-card__link mnp-card__link-default" href="#">Change of circumstances</a>
            </h2>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable mnp-card--clickable-default">
          <img class="nhsuk-card__img mnp-card__img-default" src="/images/portal-graphics-employee-section.jpg"
            alt="">
          <div class="nhsuk-card__content mnp-card__content-default">
            <h2 class="nhsuk-card__heading nhsuk-heading-m mnp-card__heading-default">
              <a class="nhsuk-card__link mnp-card__link-default" href="#">Re-employment</a>
            </h2>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable mnp-card--clickable-default">
          <img class="nhsuk-card__img mnp-card__img-default" src="/images/portal-graphics-bereavements.jpg"
            alt="">
          <div class="nhsuk-card__content mnp-card__content-default">
            <h2 class="nhsuk-card__heading nhsuk-heading-m mnp-card__heading-default">
              <a class="nhsuk-card__link mnp-card__link-default" href="#">Bereavement</a>
            </h2>
          </div>
        </div>
      </li>
    </ul>

  </div>

  <div class="nhsuk-grid-column-one-quarter">
    <div class="mnp-side-panel-default">
      <h2>Contacts</h2>
      <p class="nhsuk-u-padding-bottom-3">Contact Information<br />
        0300 330 1346<br />
        <a href="">nhsbsa.pensionsmember@nhsbsa.nhs.uk</a><br />
        Opening times<br />
        Monday to Friday, 8am to 6pm
      </p>
      <p>Outside the UK<br />
        +44 191 279 0571<br />
        <a href="#">nhsbsa.pensionsmember@nhsbsa.nhs.uk</a><br />
        Opening times<br />
        Monday to Friday, 8am to 6pm
      </p>
    </div>
  </div>
</div>
<!-- End of content -->

    </div>
  </div>

{% endblock %}