<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout-mnp.html -->
{% extends 'layout-mnp.html' %}
<!-- 
  In /views/layout-mnp.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
My NHS Pension
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<!-- Start of content -->
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="mnp-main-wrapper-padding">

      <h1>
        Home Page
      </h1>

      <p>Welcome to My NHS Pension..</p>
      <p>If you've already recevied a user ID, you can log in using your username and password. If you do no have a user
        ID, you can request one from your NHS Pensions contact.</p>

      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable mnp-card--clickable-default">
            <img class="nhsuk-card__img mnp-card__img-default" src="/images/portal-graphics-member-hub.jpg" alt="">
            <div class="nhsuk-card__content mnp-card__content-default">
              <h2 class="nhsuk-card__heading nhsuk-heading-m mnp-card__heading-default">
                <a class="nhsuk-card__link mnp-card__link-default" href="#">Member hub</a>
              </h2>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable mnp-card--clickable-default">
            <img class="nhsuk-card__img mnp-card__img-default" src="/images/portal-graphics-pensioner-hub.jpg" alt="">
            <div class="nhsuk-card__content mnp-card__content-default">
              <h2 class="nhsuk-card__heading nhsuk-heading-m mnp-card__heading-default">
                <a class="nhsuk-card__link mnp-card__link-default" href="#">Pensioner hub</a>
              </h2>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable mnp-card--clickable-default">
            <img class="nhsuk-card__img mnp-card__img-default" src="/images/portal-graphics-employer-hub.jpg" alt="">
            <div class="nhsuk-card__content mnp-card__content-default">
              <h2 class="nhsuk-card__heading nhsuk-heading-m mnp-card__heading-default">
                <a class="nhsuk-card__link mnp-card__link-default" href="#">Changes to public sector pension schemes</a>
              </h2>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable mnp-card--clickable-default">
            <img class="nhsuk-card__img mnp-card__img-default" src="/images/portal-graphics-employee-section.jpg"
              alt="">
            <div class="nhsuk-card__content mnp-card__content-default">
              <h2 class="nhsuk-card__heading nhsuk-heading-m mnp-card__heading-default">
                <a class="nhsuk-card__link mnp-card__link-default" href="#">Total Reward Statement Portal</a>
              </h2>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable mnp-card--clickable-default">
            <img class="nhsuk-card__img mnp-card__img-default" src="/images/portal-graphics-help-and-information.jpg"
              alt="">
            <div class="nhsuk-card__content mnp-card__content-default">
              <h2 class="nhsuk-card__heading nhsuk-heading-m mnp-card__heading-default">
                <a class="nhsuk-card__link mnp-card__link-default" href="#">Help and information</a>
              </h2>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable mnp-card--clickable-default">
            <img class="nhsuk-card__img mnp-card__img-default"
              src="/images/portal-graphics-nhs-retirement-fellowship.jpg" alt="">
            <div class="nhsuk-card__content mnp-card__content-default">
              <h2 class="nhsuk-card__heading nhsuk-heading-m mnp-card__heading-default">
                <a class="nhsuk-card__link mnp-card__link-default" href="#">NHS retirement fellowship</a>
              </h2>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>

<!-- End of content -->
{% endblock %}