<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-mnp-full.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  My NHS Pension
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full"> 

      <!-- Start of content -->
      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            <div class="nhsuk-card nhsuk-card--clickable">
                <img class="nhsuk-card__img" src="/images/portal-graphics-member-hub.jpg" alt="">
                <div class="nhsuk-card__content">
                  <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link" href="https://www.nhsbsa.nhs.uk/member-hub" target="_blank">Member hub</a>
                  </h2>
                  <p class="nhsuk-card__description">Information about being a member of the NHS Pension Scheme (opens in a new tab)</p>
                </div>
              </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            <div class="nhsuk-card nhsuk-card--clickable">
                <img class="nhsuk-card__img" src="/images/portal-graphics-pensioner-hub.jpg" alt="">
                <div class="nhsuk-card__content">
                  <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link" href="https://www.nhsbsa.nhs.uk/pensioner-hub" target="_blank">Pensioner hub</a>
                  </h2>
                  <p class="nhsuk-card__description">Information if you're an NHS pensioner or a surviving spouse, partner or dependant (opens in a new tab)</p>
                </div>
              </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            <div class="nhsuk-card nhsuk-card--clickable">
                <img class="nhsuk-card__img" src="/images/portal-graphics-employer-hub.jpg" alt="">
                <div class="nhsuk-card__content">
                  <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link" href="https://www.nhsbsa.nhs.uk/changes-public-service-pensions" target="_blank">Changes to public sector pension schemes</a>
                  </h2>
                  <p class="nhsuk-card__description">Information about the changes made by the government in 2015 (opens in new tab)</p>
                </div>
              </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
              <img class="nhsuk-card__img" src="/images/portal-graphics-employee-section.jpg" alt="">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="https://www.totalrewardstatements.nhs.uk" target="_blank">Total Reward Statement Portal</a>
                </h2>
                <p class="nhsuk-card__description">Information about your employment package and some of the benefits which are important to you (opens in new tab)</p>
              </div>
            </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
              <img class="nhsuk-card__img" src="/images/portal-graphics-help-and-information.jpg" alt="">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="#">Help and information</a>
                </h2>
                <p class="nhsuk-card__description">Information about managing your NHS Pension</p>
              </div>
            </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
              <img class="nhsuk-card__img" src="/images/portal-graphics-nhs-retirement-fellowship.jpg" alt="">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="https://nhsrf.org.uk" target="_blank">NHS retirement fellowship</a>
                </h2>
                <p class="nhsuk-card__description">Friendship, fellowship and fun to retired NHS and social care staff, volunteers and their friends and families (opens in new tab)</p>
              </div>
            </div>
      </li>
      </ul>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}