<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-mnp-full.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
My NHS Pension
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <!-- Start of content -->

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-third ">
        <h2>New Customer</h2>
        <p>Create an account today and get instant access to your pension benefit details.</p>
        <a href="../stepper/before-you-start">
        <button class="nhsuk-button nhsuk-button--secondary">
          Create an account
        </button>
      </a>
      </div>

      <div class="nhsuk-grid-column-two-thirds mnp-border-left">
        <h2>Registered Users</h2>
        <p>Have an account? Sign in now.</p>
        <form action="registration/2fa-setup" method="post">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="username">
              Username
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="username" name="username" type="text">
          </div>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="password">
              Password
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="password" name="password" type="text">
          </div>
          <button class="nhsuk-button" type="submit">
            Sign in
          </button>
        </form>
        <p><a href="">Forgot your username?</a><br />
          <a href="">Forgot your password?</a></p>
        
      </div>
    </div>

    <!-- End of content -->

  </div>
</div>
{% endblock %}