<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-mnp.html -->
{% extends 'layout-mnp-live-transactional.html' %}
<!-- 
  In /views/layout-mnp.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
My NHS Pension
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <!-- Start of content -->
        <div class="mnp-login-wrapper">


            <!--Start of stepper-->
            <div class="container">
                <section class="step-indicator">
                    <div class="step step1 checked">
                        <div class="step-icon"><i class="fa fa-check" style="font-size:20px;color:white;"></i></div>
                        <p>Identify</p>
                    </div>
                    <div class="indicator-line active"></div>
                    <div class="step step2 checked">
                        <div class="step-icon"><i class="fa fa-check" style="font-size:20px;color:white;"></i></div>
                        <p>Verify</p>
                    </div>
                    <div class="indicator-line active"></div>
                    <div class="step step3 active">
                        <div class="step-icon">3</div>
                        <p>Create</p>
                    </div>
                </section>
            </div>
            <!--End of stepper-->


            <h1 class="nhsuk-heading-xs mnp-heading-block">Step 3 - Create your new account</h1>
            <div class="mnp-login-content-block">
                <p>Please create your own username and password.</p>
                <form action="complete" method="post" class="form-disabled">
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <div class="nhsuk-form-group mnp-form-group-default">
                                <label class="nhsuk-label mnp-label-default" for="username">
                                    Username
                                </label>
                                <input class="nhsuk-input mnp-input-default" id="username" name="username" type="text"
                                    placeholder="Enter your new username">
                                <span class="fa fa-pencil mnp-input-icon"></span>
                            </div>
                            <div class="nhsuk-form-group mnp-form-group-default">
                                <label class="nhsuk-label mnp-label-default" for="password">
                                    Password
                                </label>
                                <div class="nhsuk-hint" id="password-hint">
                                    Your new password must meet the following requirements: Your Password should only by
                                    upper or lower case letters
                                </div>
                                <input class="nhsuk-input mnp-input-default" id="password" name="password" type="text"
                                    placeholder="Enter a password for your account">
                                <span class="fa fa-pencil mnp-input-icon"></span>
                            </div>
                            <div class="nhsuk-form-group mnp-form-group-default">
                                <label class="nhsuk-label mnp-label-default" for="passwordConfirm">
                                    Confirm Password
                                </label>
                                <input class="nhsuk-input mnp-input-default" id="passwordConfirm" name="passwordConfirm"
                                    type="text" placeholder="Confirm the password for your account">
                                <span class="fa fa-pencil mnp-input-icon"></span>
                            </div>
                            <div class="nhsuk-form-group mnp-form-group-default">
                                <label class="nhsuk-label mnp-label-default" for="email">
                                    Email Address
                                </label>
                                <div class="nhsuk-hint" id="email-hint">
                                    We need your email address so that you can complete your registration and for
                                    account recovery should you need it in the future.
                                </div>
                                <input class="nhsuk-input mnp-input-default" id="email" name="email" type="text"
                                    placeholder="Email Address">
                                <span class="fa fa-pencil mnp-input-icon"></span>
                            </div>

                            <div class="nhsuk-form-group mnp-form-group-default">
                                <label class="nhsuk-label mnp-label-default" for="security1">
                                    Security Questions
                                </label>
                                <div class="nhsuk-hint" id="password-hint">
                                    Please select three different security questions and provide answers for each
                                </div>
                                <select class="nhsuk-select" id="security1" name="security1" onChange="showHide(this)">
                                    <option value="">Choose your first question</option>
                                    <option value="1">In what city did you meet your spouse/significant other?</option>
                                    <option value="2">In what city does your nearest sibling live?</option>
                                    <option value="3">In what city or town was your first job?</option>
                                    <option value="4">To what city did you go to on your honeymoon?</option>
                                    <option value="5">What is the country of your ultimate dream vacation?</option>
                                    <option value="6">What is the middle name of your oldest child?</option>
                                    <option value="7">What is the name of the company of your first job?</option>
                                    <option value="8">What is the name of the place your wedding reception was held?
                                    </option>
                                    <option value="9">What is the name of your favourite childhood friend?</option>
                                    <option value="10">What is the name of your favourite childhood teacher?</option>
                                    <option value="11">What is your grandmother's first name?</option>
                                    <option value="12">What is your mother's middle name?</option>
                                    <option value="13">What is your oldest sibling's birthday month and year? (e.g.
                                        January 1970)</option>
                                    <option value="14">What is your oldest sibling's middle name?</option>
                                    <option value="15">What is your preferred musical genre?</option>
                                    <option value="16">What time of day were you born?</option>
                                    <option value="17">What was your childhood nickname?</option>
                                    <option value="18">What was your dream job as a child?</option>
                                    <option value="19">What was your favourite place to visit as a child?</option>
                                    <option value="20">Who was your childhood hero?</option>
                                </select>
                                <div name="show-hide">
                                    <div class="nhsuk-form-group mnp-form-group-default">
                                        <label class="nhsuk-label mnp-label-default nhsuk-u-visually-hidden"
                                            for="securityAnswer1">
                                            Security question answer 1
                                        </label>
                                        <input class="nhsuk-input mnp-input-default" id="securityAnswer1"
                                            name="securityAnswer1" type="text" placeholder="Enter the answer to question 1">
                                        <span class="fa fa-pencil mnp-input-icon"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="nhsuk-form-group mnp-form-group-default">
                                <label class="nhsuk-label nhsuk-u-visually-hidden" for="security2">
                                    Security question 2
                                </label>
                                <select class="nhsuk-select" id="security2" name="security2" onChange="showHide(this)">
                                    <option value="">Choose your second question</option>
                                    <option value="1">In what city did you meet your spouse/significant other?</option>
                                    <option value="2">In what city does your nearest sibling live?</option>
                                    <option value="3">In what city or town was your first job?</option>
                                    <option value="4">To what city did you go to on your honeymoon?</option>
                                    <option value="5">What is the country of your ultimate dream vacation?</option>
                                    <option value="6">What is the middle name of your oldest child?</option>
                                    <option value="7">What is the name of the company of your first job?</option>
                                    <option value="8">What is the name of the place your wedding reception was held?
                                    </option>
                                    <option value="9">What is the name of your favourite childhood friend?</option>
                                    <option value="10">What is the name of your favourite childhood teacher?</option>
                                    <option value="11">What is your grandmother's first name?</option>
                                    <option value="12">What is your mother's middle name?</option>
                                    <option value="13">What is your oldest sibling's birthday month and year? (e.g.
                                        January 1970)</option>
                                    <option value="14">What is your oldest sibling's middle name?</option>
                                    <option value="15">What is your preferred musical genre?</option>
                                    <option value="16">What time of day were you born?</option>
                                    <option value="17">What was your childhood nickname?</option>
                                    <option value="18">What was your dream job as a child?</option>
                                    <option value="19">What was your favourite place to visit as a child?</option>
                                    <option value="20">Who was your childhood hero?</option>
                                </select>
                                <div name="show-hide">
                                    <label class="nhsuk-label mnp-label-default nhsuk-u-visually-hidden"
                                        for="securityAnswer2">
                                        Security question answer 2
                                    </label>
                                    <input class="nhsuk-input mnp-input-default" id="securityAnswer2" name="securityAnswer2"
                                        type="text" placeholder="Enter the answer to question 2">
                                    <span class="fa fa-pencil mnp-input-icon"></span>
                                </div>
                            </div>


                            <div class="nhsuk-form-group mnp-form-group-default">
                                <label class="nhsuk-label nhsuk-u-visually-hidden" for="security1">
                                    Security question 3
                                </label>
                                <select class="nhsuk-select" id="security3" name="security3" onChange="showHide(this)">
                                    <option value="">Choose your third question</option>
                                    <option value="1">In what city did you meet your spouse/significant other?</option>
                                    <option value="2">In what city does your nearest sibling live?</option>
                                    <option value="3">In what city or town was your first job?</option>
                                    <option value="4">To what city did you go to on your honeymoon?</option>
                                    <option value="5">What is the country of your ultimate dream vacation?</option>
                                    <option value="6">What is the middle name of your oldest child?</option>
                                    <option value="7">What is the name of the company of your first job?</option>
                                    <option value="8">What is the name of the place your wedding reception was held?
                                    </option>
                                    <option value="9">What is the name of your favourite childhood friend?</option>
                                    <option value="10">What is the name of your favourite childhood teacher?</option>
                                    <option value="11">What is your grandmother's first name?</option>
                                    <option value="12">What is your mother's middle name?</option>
                                    <option value="13">What is your oldest sibling's birthday month and year? (e.g.
                                        January 1970)</option>
                                    <option value="14">What is your oldest sibling's middle name?</option>
                                    <option value="15">What is your preferred musical genre?</option>
                                    <option value="16">What time of day were you born?</option>
                                    <option value="17">What was your childhood nickname?</option>
                                    <option value="18">What was your dream job as a child?</option>
                                    <option value="19">What was your favourite place to visit as a child?</option>
                                    <option value="20">Who was your childhood hero?</option>
                                </select>
                                <div name="show-hide">
                                    <label class="nhsuk-label mnp-label-default nhsuk-u-visually-hidden"
                                        for="securityAnswer3">
                                        Security question answer 3
                                    </label>
                                    <input class="nhsuk-input mnp-input-default" id="securityAnswer3" name="securityAnswer3"
                                        type="text" placeholder="Enter the answer to question 3">
                                    <span class="fa fa-pencil mnp-input-icon"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="nhsuk-button mnp-btn-primary-default" type="submit" disabled>
                        Complete Registration
                    </button>

                    <button class="nhsuk-button mnp-btn-primary-default">
                        Exit
                    </button>

                </form>
            </div>

        </div>


        <!-- End of content -->

    </div>
</div>
{% endblock %}