<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- <script src="/js/step-by-step-nav.js"></script>
     <script type="text/javascript">
       var $element = $('#step-by-step-navigation')
       var stepByStepNavigation = new NHSUK.Modules.AppStepNav()
       stepByStepNavigation.start($element)
     </script> -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-mnp-full-transactional.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
My NHS Pension
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


<!-- Start of content -->
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 style="margin-bottom:12px;" class="nhsuk-heading-xl">
      <span role="text"><span class="nhsuk-caption-l nhsuk-caption--top">Two-factor authentication<span
                  class="nhsuk-u-visually-hidden">-</span></span></span>
      Initial setup - Authenticator app
  </h1>

  <p>You have chosen to use an Authenticator app to authenticate your log-in.</p>
  <p>If the Authenticator app has an option to scan a QR code, scan the code below<br />
    <img class="mnp-qr" src="/images/qr-code.png" alt=""><br />
  Or manually enter the following code in the app: PAL7JKDU8FH8HJF8HHFDKSJ7HKDFHJSKR</p>


  <form action="2fa-setup-recovery-codes" method="post">

    <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="appCode">
          Enter the code from the Authenticator app
        </label>
        <input class="nhsuk-input nhsuk-input--width-10" id="appCode" name="appCode" type="text" inputmode="numeric">
      </div>




<button class="nhsuk-button" type="submit">
  Continue
</button>

</form>

  </div>

</div>


<!-- End of content -->


{% endblock %}