<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- <script src="/js/step-by-step-nav.js"></script>
     <script type="text/javascript">
       var $element = $('#step-by-step-navigation')
       var stepByStepNavigation = new NHSUK.Modules.AppStepNav()
       stepByStepNavigation.start($element)
     </script> -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-001.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
My NHS Pension
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<!-- Start of content -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="done-panel">
            <h1 class="heading-xlarge">Registration complete</h1>   
          </div>
        <h2>What happens next</h2>
        <p>You will receive an activation link to your email address. Please click the link provided in the email to
            complete the registration process. You will then be able to login to your self-service pension account.</p>
            <a href="../001/sign-in">
            <button class="nhsuk-button">
                Login
              </button>
            </a>
    </div>
</div>
<!-- End of content -->

{% endblock %}